body {
  font-family: "Lisu Bosa", serif;
  background: linear-gradient(
    111.5deg,
    rgb(228, 247, 255) 21.9%,
    rgb(255, 216, 194) 92.2%
  );
}

.sun {
  text-align: left;
}

.weather-now {
  padding-bottom: 10px;
  text-align: center;
}

.weather-display {
  border: 1px solid gray;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
}

.now {
  display: block;
  margin: 0 auto;
  font-size: 15px;
  padding: 5px;
  border-radius: 15px;
}

.city-display {
  margin: 0 auto;
}

.temp {
  padding-left: 70px;
  font-size: 35px;
  padding-top: 0 auto;
}

.weather-condions {
  list-style: none;
  text-align: right;
}

.date-text {
  font-size: 25px;
  margin-top: 10px;
}
.body-card {
  background: transparent;
  text-align: center;
  margin-top: 0 auto;
  margin-bottom: 0 auto;
  padding-bottom: 0 auto;
}

.card {
  margin-top: 0 auto;
  padding-top: 0 auto;
}
.card-text {
  font-size: 25px;
}

.card-title {
  font-size: 30px;
}

#change-city {
  font-size: 20px;
  text-align: center;
}

.change-theme {
  display: block;
  margin: 0 auto;
  font-size: 15px;
  padding: 5px;
  border-radius: 15px;
}
